<div class="panel right">
	<h1>Create a Tweet</h1>
	<p>
		<form action="/newTweet" id="newTweet">
			<textarea name="text" class="ribbitText" maxlength=140></textarea>
			<input type="submit" value="Tweet!">
		</form>
		<div id="result"></div>
	</p>
</div>
<script>
$( "#newTweet" ).submit(function( event ) {

  // Stop form from submitting normally
  event.preventDefault();

  // Get some values from elements on the page:
  var $form = $( this ),
    text = $form.find( "textarea[name='text']" ).val(),
    url = $form.attr( "action" );

  var posting = $.post(url, { tweet: text });
  posting.done(function(result) {
    alert(result.message);
    $( "#result" ).empty().append( result.message );
  })
  .fail(function( h ) {
    var o = h.responseJSON;
    $( "#result" ).empty().append( result.message );
  });
});
</script>
<div id="ribbits" class="panel left">
    <h1><%= title %></h1>
    <% for(var i=0; i < tweets.length; i++) { %>
        <div class="ribbitWrapper">
            <img class="avatar" src="/gfx/user<%=Math.floor(Math.random()*3)+1%>.png">
            <span class="name">
                <a href="/usr/<%= tweets[i].username %>">
                    <%= tweets[i].username %>
                </a>
            </span>
            <span class="time"><%= tweets[i].display_time %></span>
            <p><%= tweets[i].text %></p>
        </div>
    <% } %>
</div>
