<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet/less" href="/style.less">
	<script src="/less.js"></script>
	<script src="/jquery-1.11.1.min.js"></script>
	<title><%= title %></title>
</head>
<body>
	<header>
		<div class="wrapper">
			<img src="/gfx/logo.png">
			<span>Twitter Clone</span>
			<form action="/validate" id="validate">
				<input type="text" id="user" name="user" placeholder="User">
				<input type="password" id="pass" name="pass" placeholder="Password">
				<input type="submit" id="btnLogOut" value="Sign in">
			</form>
		</div>
	</header>
	<div id="content">
		<div class="wrapper">
			<!-- display the error message here -->
			<div id="message"></div>

			<hr class="top-10" />

			<div class="panel left">
				<img src="/gfx/frog.jpg">
			</div>
			<div class="panel right">
				<h1>Create new account</h1>
				<p> TODO </p>
			</div>
		</div>
	</div>
<script>
$( "#validate" ).submit(function( event ) {
	// Stop form from submitting normally
	event.preventDefault();

	// Get some values from elements on the page:
	var $form = $( this ),
	username = $form.find( "input[name='user']" ).val(),
	password = $form.find( "input[name='pass']" ).val(),
	url = $form.attr( "action" );

	// Send the data using post
	var posting = $.post( url, { username: username, password: password });

	// Put the results in a div
	posting.done(function( o ) {
		window.location.replace(o.url);
	})
	.fail(function( h ) {
		var o = h.responseJSON;
		$( "#message" ).empty().append( o.message );
	});
});
</script>
	<footer>
		<div class="wrapper">
			A Twitter Clone by Matthieu Baerts
		</div>
	</footer>
</body>
</html>
